{% extends "store/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %} 
{% block content %}

	<section id="bill">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->
<div class="span6" style="float: left;margin-left: 200px;">
					<iframe class="preview-pane" id="p1" type="application/pdf" width="450px" height="750px" 
					frameborder="0" style="position:relative;z-index:999"></iframe>
</div>
<div class="span6" style="float: left;">
					<iframe class="preview-pane" id="p2" type="application/pdf" width="450px" height="750px" 
					frameborder="0" style="position:relative;z-index:999"></iframe>
</div>
	<script>
/* my jsPDF functions */
function savePDF() { doc.save('Test.pdf'); }

var splitRegex = /\r\n|\r|\n/g;
jsPDF.API.textEx = function (text, x, y, hAlign, vAlign) {
    var fontSize = this.internal.getFontSize() / this.internal.scaleFactor;
    // As defined in jsPDF source code
    var lineHeightProportion = 1.15;
    var splittedText = null;
    var lineCount = 1;
    if (vAlign === 'middle' || vAlign === 'bottom' || hAlign === 'center' || hAlign === 'right') {
        splittedText = typeof text === 'string' ? text.split(splitRegex) : text;

        lineCount = splittedText.length || 1;
    }
    // Align the top
    y += fontSize * (2 - lineHeightProportion);

    if (vAlign === 'middle')
        y -= (lineCount / 2) * fontSize;
    else if (vAlign === 'bottom')
        y -= lineCount * fontSize;

    if (hAlign === 'center' || hAlign === 'right') {
        var alignSize = fontSize;
        if (hAlign === 'center')
            alignSize *= 0.5;
        if (lineCount > 1) {
            for (var iLine = 0; iLine < splittedText.length; iLine++) {
                this.text(splittedText[iLine], x - this.getStringUnitWidth(splittedText[iLine]) * alignSize, y);
                y += fontSize;
            }
            return this;
        }
        x -= this.getStringUnitWidth(text) * alignSize;
    }
    this.text(text, x, y);
    return this;
};
	</script>
<script type="text/javascript">
	var doc = new jsPDF();	
	var x = 12;
	var xx = 100;
	var mx = 198;
	var yy = 30;
	var xxx = 45;
	var interval= 10; 
	doc.setFontSize(18);
	doc.text(12, 20, "Wonder Masters Oy");
	doc.text(182, 20, "Lasku");
	doc.setLineWidth(0.3);
	doc.line(10, 27, 200, 27);
	doc.setFontSize(12);
	doc.text(12, 45, "Viitenumero"); doc.text(48, 45, "5 11011 78920");
	doc.text(12, 55, "Tilausumeronne"); doc.text(48, 55, "3 46911 78881");
	doc.text(135, 45, "Laskun numero"); doc.text(170, 45, "5110117842");
	doc.text(135, 55, "Y-tunnus"); doc.text(170, 55, "2589923-5");
	doc.text(12, 65, "Saaja"); doc.text(48, 65, "Wonder Masters Oy");
	doc.text(135, 65, "Eräpäivä");doc.text(170, 65, "30.04.2016");

	doc.text(12, 85, "Tilinumero");doc.text(48, 85,"Nordea FI32 1369 3000 1231 48");
	doc.text(12, 95, "BIC");doc.text(48, 95,"NDEAFIHH");
	doc.line(10, 135, 200, 135);
	doc.setFontType("bold");
	doc.text(135, 145, "YHTEENSÄ:");doc.text(180, 145,"33,00 EUR");
	var string = doc.output('bloburi');
	$('#p1').attr('src', string);
	//$('.preview-pane').attr('src', string);
	

	doc = new jsPDF();
	doc.setFillColor(225,217,217);
	doc.rect(mx-100, 30, 100, 90, 'F');
	doc.textEx("Wonder Masters Oy", x, 17);
	/*doc.text(132, 20, "Lasku");*/
	doc.setFontType("bold");
	doc.textEx("Lasku", 112, 17, "left");
	doc.setFontType("normal");
	doc.textEx("sivu 1/1", mx, 17, "right");
	doc.setLineWidth(0.5);
	doc.line(x, 27, mx, 27);
	doc.textEx("Pekka Virtanen", x+20, 45, "left");
	doc.textEx("Rälssintie 17 B 92", x+20, 55, "left");
	doc.textEx("00720 Helsinki", x+20, 65, "left");

	doc.textEx("Laskun päiväys:", xx, yy, "left");	doc.textEx("19.03.2016", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Laskun numero:", xx, yy, "left");doc.textEx("7266961", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Viitenumero:", xx, yy, "left"); doc.textEx("72669614", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Viitteenne:", xx, yy, "left"); doc.textEx("0316762", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Eräpäivä:", xx, yy, "left"); doc.textEx("30.04.2016", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Y-tunnus:", xx, yy, "left"); doc.textEx("2589923-5", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("IBAN:", xx, yy, "left"); doc.setFontSize(12);doc.textEx("Nordea FI55 8911 550 48", xx+xxx, yy, "left"); yy+=interval;
	doc.setFontSize(14);
	doc.textEx("BIC:", xx, yy, "left"); doc.textEx("NDEAAIHH", xx+xxx, yy, "left"); yy+=interval;
	doc.textEx("Puhelin:", xx, yy, "left"); doc.textEx("+358477360623", xx+xxx, yy, "left"); yy+=interval;
 	yy+=interval*3; 	doc.setFontType("bold");doc.setFontSize(12);
 	doc.textEx("Laskutettavat nimikkeet                    Määrä   Yks.hinta  Veroton   Alv-% Vero  Verollinen EUR", x, yy);
 	doc.setFontType("normal");
 	doc.textEx("                                                             1,00 kpl    36,00         36,00      0,00    0,00        36,00", x, yy+12);
	doc.setLineWidth(0.2);
	doc.line(x, yy+8, mx, yy+8);
	yy+=100;
	doc.setFillColor(225,217,217);

	doc.rect(x, yy, mx-x, 25, 'F');
	doc.setFontType("bold");doc.setFontSize(16);
	doc.textEx("    Eräpäivä    Veroton hinta EUR      ALV EUR      Loppusumma EUR", x, yy+4);doc.setFontType("normal");
	doc.textEx("   30.04.2016             36,00                      0,00                      36,00", x, yy+16);


	string = doc.output('bloburi');
	
	$('#p2').attr('src', string);
</script>


			<div class="step-one">
				<h5 class="heading"><a href="javascript:savePDF()" class="button">Download PDF</a></h5>
			</div>
			<div class="checkout-options">
				
			</div><!--/checkout-options-->

			<div class="register-req">
				<p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
			</div><!--/register-req-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Shopper Information</p>
							<form>
								<input type="text" placeholder="Display Name">
								<input type="text" placeholder="User Name">
								<input type="password" placeholder="Password">
								<input type="password" placeholder="Confirm password">
							</form>
							<a class="btn btn-primary" href="">Get Quotes</a>
							<a class="btn btn-primary" href="">Continue</a>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
								<form>
<!-- 									<input type="text" placeholder="Company Name">
 -->			
									<input type="text" placeholder="Title">
									<input type="text" placeholder="First Name *">
									<!-- <input type="text" placeholder="Middle Name"> -->
									<input type="text" placeholder="Last Name *">
									<input type="text" placeholder="Email*">
									<input type="text" placeholder="Address 1 *">
									<input type="text" placeholder="Address 2">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="Zip / Postal Code *">
									<select>
										<option>-- Country --</option>
										<option>Finland</option>
										<option>Sweden</option>
										<option>USA</option>
										<option>Russia</option>
										<option>Norway</option>
										<option>Ucraine</option>
										<option>Canada</option>
										<option>Denmark</option>
									</select>
									<input type="password" placeholder="Confirm password">
									<input type="text" placeholder="Phone *">
									<input type="text" placeholder="Mobile Phone">
									<!-- <input type="text" placeholder="Fax"> -->
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
							<label><input type="checkbox"> Shipping to bill address</label>
						</div>	
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<!-- <tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/two.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/three.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>$59</td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>$2</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$61</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody> -->
				</table>
			</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Direct Bank Transfer</label>
					</span>
					<span>
						<label><input type="checkbox"> Check Payment</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div>
	</section> <!--/#cart_items-->



	
	
{% endblock %}