{% extends "store/base.html" %}
{% load i18n %}
{% load staticfiles %} 
{% block content %}
{% load cloudinary %}


	<section>
		<div class="container">
			<div class="row">
{% include "store/category.html" %}
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
						
							<div class="view-product">	
								{% if product.is_on_sale = True %}
								<div class="rotate"><p class="rotate_p">SALE</p></div>
								{% elif product.is_new = True %}
								<div class="rotate_new"><p class="rotate_p">NEW</p></div>
								{% endif %}
									<!--<img src="http://res.cloudinary.com/naturalguide/image/upload/v1447011693/{{product.image}}" id="image_{{ product.id }}"
                                                      
                                                      alt="{{ product.name }}"
                                                      title="{{ product.name }}"/></a>-->
                                {% cloudinary product.image width=280 crop="fit" %}                      
								
							</div>
<!--						<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
<!--							    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								<!--   <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>  -->

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								
								<h2>{{ product.name}}</h2>
								
								
								<span>
									<span>EUR &#8364;{{product.price}}</span>
									<!-- <label>Quantity:</label>
									<input type="text" value="1" /> -->
									<!--<button type="button" class="btn btn-fefault cart1">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>-->
									<a id="zz4{{product.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>For:</b> {{product.category}}</p>
								<p><b>Brand:</b> {{product.brand}}</p>
								<p><b>Volume:</b> {{product.volume}}</p>
								<p><b>Weight:</b> {{product.weight}}</p>
								
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#ingredients" data-toggle="tab">Ingredients</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#how_to_use" data-toggle="tab">How to use</a></li>
								<li><a href="#articles" data-toggle="tab">Related Articles</a></li>	
								<li ><a href="#reviews" data-toggle="tab">Reviews ({{ product.review_set.count }})</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
								<h2>Details:</h2>
								<p>{{product.details}}</p>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
                    About company
							</div>
							
							<div class="tab-pane fade" id="how_to_use" >
					How to use
							</div>
														<div class="tab-pane fade" id="articles" >
					Articles
							</div>
														<div class="tab-pane fade" id="ingredients" >
					<h2>Ingredients:</h2>
					<p>{{product.ingredients}}</p>
							</div>
							
							<div class="tab-pane fade " id="reviews" >
								<div class="col-sm-12">
									{% for review in product.review_set.all %}
										<ul>
											<li><a href=""><i class="fa fa-user"></i>{{ review.product }}</a></li>
											<li><a href=""><i class="fa fa-calendar-o"></i>{{ review.date_published|date:"g:i" }}</a></li>
											<li><a href=""><i class="fa fa-clock-o"></i>{{ review.date_published|date:"d M Y" }}</a></li>
										</ul>
										<p>{{ review.review_text }}</p>
										<br /><br />
									{% endfor %}
									
									<p><b>Write Your Review</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Your Name"/ value="{{ cur_user.first_name }}" />
											<input type="email" placeholder="Email Address" value="{{ cur_user.email }}" />
										</span>
										<textarea name="" ></textarea>
										
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
{% include "store/recommended.html"%}
				</div>
			</div>
		</div>

	</section>

{% endblock %}